* { margin: 0;
    padding: 0;
   box-sizing: border-box;
}


  .col {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 5px;
  width: 80vw;
  /* flex-wrap: wrap; */
  border: 2px solid rebeccapurple;
  justify-content: space-evenly;
}

li {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  border: 2px solid yellowgreen;
}
