@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=BioRhyme&family=Bungee&family=Cairo&family=Cormorant+Garamond&family=Eczar&family=Ewert&family=Gravitas+One&family=IBM+Plex+Sans&family=Libre+Baskerville&family=Libre+Franklin&family=Lora:wght@700&family=Merriweather&family=Merriweather+Sans&family=Mogra&family=Monoton&family=Neuton&family=Oswald&family=Poppins&family=Rakkas&family=Readex+Pro&family=Roboto+Condensed&family=Space+Mono&family=Trocchi&family=Work+Sans&family=Yatra+One&display=swap');
/* body { */
/*    background: url('../img/bears.jpg'); */
/*    background-repeat: no-repeat; */
/*    background-size: cover; */
/*    } */
/**/


.main {
  width: 200px;
  height: 70px;
  position: relative;
  top: 150px;
  left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-clip: text; */
}

.p {
  background: url("../img/bears.jpg");
  font-family: Oswald;
  font-size: 30pt;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}


