* { background: black;}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: dodgerblue;
  box-shadow: 0 0 0 0 #fff;
  font-size: 20px;
  animation: anim 1s infinite;
}



@keyframes anim {
  to {
    box-shadow: 0 0 0 16px rgb(255, 255, 255, 0.01);
  }
}
